:root:has(.dev-caddy) {
  --dc-background: hsl(210, 8%, 10%);
  --dc-background-raised: hsl(210, 8%, 15%);
  --dc-background-lowered: hsl(210, 8%, 5%);

  --dc-border: hsl(210, 8%, 30%);
  --dc-border-em: hsl(210, 8%, 50%);
  --dc-border-muted: hsl(210, 8%, 20%);

  --dc-text: hsl(210, 8%, 80%);
  --dc-text-em: hsl(210, 8%, 95%);
  --dc-text-muted: hsl(210, 8%, 50%);

  --dc-primary-highlight: hsl(255, 100%, 60%);
  --dc-primary-light: hsl(255, 100%, 55%);
  --dc-primary: hsl(255, 90%, 50%);
  --dc-primary-dark: hsl(255, 100%, 45%);

  --dc-accent-light: hsl(30, 100%, 55%);
  --dc-accent: hsl(30, 90%, 50%);
  --dc-accent-dark: hsl(30, 100%, 45%);

  --dc-danger-light: hsl(345, 100%, 55%);
  --dc-danger: hsl(345, 90%, 50%);
  --dc-danger-dark: hsl(345, 100%, 45%);

  --dc-success-light: hsl(165, 80%, 55%);
  --dc-success: hsl(165, 70%, 50%);
  --dc-success-dark: hsl(165, 80%, 45%);
}

.dev-caddy {
  color-scheme: dark;
  accent-color: var(--dc-primary-highlight);
  color: var(--dc-text);

  .caddy-window {
    background-color: var(--dc-background);
  }

  .caddy-window,
  .caddy-mode-toggle {
    filter: drop-shadow(0 1px 12px rgba(0, 0, 0, 0.1));
  }
}
