.caddy-mode-toggle {
  display: inline-grid;
  place-content: center;
  line-height: 0;
  padding: 0;
  height: 38px;
  width: 38px;
  border-radius: 39px;
  background: var(--dc-background);
  color: white;
  border: 1px solid var(--dc-border);

  &.active {
    background: var(--dc-primary);
  }
}
