.dev-caddy {
  font-size: calc(14 / 16) * 1rem;

  em {
    font-style: normal;
    font-size: 1.125em;
  }

  .caddy-window,
  .caddy-mode-toggle {
    position: fixed;
    z-index: 9000;
  }

  .top-left .caddy-window,
  .top-right .caddy-window {
    order: 2;
  }

  .bottom-left .caddy-window,
  .bottom-right .caddy-window {
    order: 1;
  }
}
