.dev-caddy {
  .manager-filters {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    top: 0;
    right: 0;
    background-color: var(--dc-background);
    border: 1px solid var(--dc-border);
    filter: drop-shadow(0 2px 15px black);
    transform: translateY(38px);
    height: 0;
    width: 0;
    padding: 0;

    &.closed {
      overflow: hidden;
      opacity: 0;
    }

    &.open {
      opacity: 1;
      height: fit-content;
      width: fit-content;
    }
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;

    label {
      font-size: 11px;
      font-weight: 500;
      color: var(--dc-text);
    }

    select,
    input {
      padding: 4px 8px;
      background-color: var(--dc-background-raised);
      border: 1px solid var(--dc-border);
      border-radius: 3px;
      color: var(--dc-text);
      font-size: 12px;

      &:focus {
        outline: none;
        border-color: var(--dc-primary);
      }
    }
  }
}
