.caddy-mode-toggle {
  display: inline-grid;
  place-content: center;
  line-height: 0;
  padding: 0;
  height: 38px;
  width: 38px;
  border-radius: 39px;
  background: var(--dc-background);
  color: white;
  border: 1px solid var(--dc-border);
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &.active {
    background: var(--dc-primary);
  }

  .toggle-icon {
    width: 20px;
    height: 20px;
    stroke-width: 2.5;
  }
}
