.dev-caddy > .caddy-window {
  border: 1px solid var(--dc-border);
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  header,
  section {
    position: relative;
    padding: 4px 8px;
  }

  header {
    border-bottom: 1px solid var(--dc-border);
    flex-shrink: 0;
  }

  section {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
